{:objects
 {:Book {:description "George R. R. Martin이 저술한 책들"
         :fields      {:Id            {:type        Int
                                       :description "책의 ID"}
                       :Name          {:type        String
                                       :description "책의 이름"}
                       :ISBN          {:type        String
                                       :description "ISBN Number"}
                       :NumberOfPages {:type        String
                                       :description "책의 페이지 숫자"}
                       :Publisher     {:type        String
                                       :description "출판사 이름"}
                       :MediaType     {:type        String
                                       :description "미디어의 타입"}
                       :Country       {:type        String
                                       :description "책이 처음으로 출간된 국가"}
                       :ReleaseDate   {:type        String
                                       :description "책이 출간된 년도"}
                       :Authros       {:type        (list String)
                                       :description "책의 저자들"}
                       :FollowedBy    {:type        Int
                                       :description "다음 권의 ID"}
                       :PrecededById  {:type        Int
                                       :description "이전 권의 ID"}}}
  :House {:description "Game of thrones에 등장하는 가문들"
          :fields      {:Id   {:type        Int
                               :description "가문의 ID"}
                        :Name {:type        String
                               :description "가문의 이름"}}}
  :Character {:description "Game of thrones의 등장인물들"
              :fields      {:Id          {:type        Int
                                          :description "등장인물의 ID"}
                            :Name        {:type        String
                                          :description "등장인물의 이름"}
                            :Allegiances {:type        (list :House)
                                          :description "충성관계의 가문들"
                                          :resolve     :Character/Allegiances}
                            :Books       {:type        (list :Books)
                                          :description "등장하는 책"
                                          :resolve     :Character/Books}}}}
 :queries {:book_by_id      {:type :Book
                             :args    {:id {:type Int}}
                             :resolve :query/book-by-id}
           :character_by_id {:type    :Character
                             :args    {:id {:type Int}}
                             :resolve :query/character-by-id}}}
